.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 15px;
}

input {
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 8px;
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  width: 14.28%; /* 100% divided by 7 days */
  height: 75px; /* adjust as needed */
  vertical-align: middle;
}

.day.today {
  background-color: yellow;
}

.day.selected {
  background-color: orange;
}
